html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  --glow--black: #151516;
  --glow--gray-dark: #505050;
  --glow--gray-light: #e2e2e2;
  --glow--gray-regular: #a4a4a4;
  --glow--purple-gradient-end: #a126d1;
  --glow--purple-gradient-start: #d140dd;
  --glow--white: #ffffff;

  --glow--font: "SF Pro", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.glow--sign-in-button {
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: 200ms all;

  .glow--sign-in-button-text {
    font-family: var(--glow--font);
    letter-spacing: -0.02em;
  }

  // SIZES
  // =====

  &.glow--size-lg {
    min-width: 15rem;
    padding: 0.84375rem 1.25rem;

    .glow--icon {
      margin-right: 0.625rem;
      width: 1.25rem;
      height: 1.25rem;
    }

    .glow--sign-in-button-text {
      font-size: 18px;
      font-weight: 590;
      line-height: 21px;
    }
  }

  &.glow--size-md {
    min-width: 14.375rem;
    padding: 0.625rem 0.875rem;

    .glow--icon {
      margin-right: 0.625rem;
      width: 1.125rem;
      height: 1.125rem;
    }

    .glow--sign-in-button-text {
      font-size: 15px;
      font-weight: 590;
      line-height: 18px;
    }
  }

  &.glow--size-sm {
    min-width: 11.5rem;
    padding: 0.375rem 0.75rem;

    .glow--icon {
      margin-right: 0.625rem;
      width: 0.875rem;
      height: 0.875rem;
    }

    .glow--sign-in-button-text {
      font-size: 15px;
      font-weight: 500;
      line-height: 18px;
    }
  }

  // SHAPES
  // ======

  &.glow--shape-squared {
    border-radius: 0.5rem;
  }

  &.glow--shape-rounded {
    &.glow--size-lg {
      border-radius: 1.5625rem;
    }

    &.glow--size-md {
      border-radius: 1.25rem;
    }

    &.glow--size-sm {
      border-radius: 1rem;
    }
  }

  // VARIANTS
  // ========

  &.glow--variant-black {
    background: var(--glow--black);
    color: var(--glow--white);
  }

  &.glow--variant-purple {
    background: linear-gradient(
      93deg,
      var(--glow--purple-gradient-start) 1.51%,
      var(--glow--purple-gradient-end) 99.28%
    );
    color: var(--glow--white);
  }

  &.glow--variant-white-naked {
    background: var(--glow--white);
    color: var(--glow--black);
  }

  &.glow--variant-white-outline {
    background: var(--glow--white);
    border-color: var(--glow--black);
    color: var(--glow--black);
  }

  // STATES
  // ======

  &:not(:disabled) {
    &:hover, &:active {
      &.glow--variant-black {
        background: var(--glow--gray-dark);
      }

      &.glow--variant-purple {
        --glow--white-50: rgba(255, 255, 255, 0.5);

        background: linear-gradient(
                        93deg,
                        rgba(209, 64, 221, 0.7) 1.51%,
                        rgba(161, 38, 209, 0.7) 99.28%
        ),
        #ffffff;
        box-shadow: inset 0 0 44.9123px var(--glow--white-50);
        border-color: var(--glow--white-50);
      }

      &.glow--variant-white-naked {
        background: var(--glow--gray-light);
      }

      &.glow--variant-white-outline {
        border-color: var(--glow--gray-regular);
      }
    }
  }

  &:disabled {
    cursor: initial;
  }
}
